<section class="content-header">
</section>

<!-- Main content -->
<section class="content">

  <div class="jumbotron">
    <img src="assets/img/404.png" style="width: 100%; height: 100%" />
    <h2>Página Não Encontrada!</h2>
    <p>
      Deseja voltar a pagina <a href="#"> <b><i><u>inicial</u></i></b></a> ?
    </p>
  </div>
</section>