.btn-editar {
    color: #805ec0;
    height: 25px;
    padding-top: 2px;
    background-color: #ffffff;
    width: 100px;
}

.btn-verde {
    height: 25px;
    padding-top: 2px;
    background-color: #ffffff;
    width: 100px;
}

.btn-vermelho {
    height: 25px;
    padding-top: 2px;
    background-color: #ffffff;
    width: 100px;
}

.box-title {
    font-size: 18px;
}

.icon {
    padding-right: 4px;
    font-size: 18px;
}

.box-header-historico {
    color: #fff;
    background-color: #805ec0;
    text-align: center;
    display: block;
    height: 41px;
    position: relative;
    padding-block-start: 7px;
}

.star {
    padding-left: 8%;
    padding-right: 8%;
}

.coluna1 {
    width: 20%;
    padding-left: 10px;
}

.coluna2 {
    width: 100%;
    text-align: end;
}

.linha {
    width: 100%;
}

.div-detalhes {
    width: 100%;
    color: #805ec0;
    font-size: 17px;
    font-weight: bold;
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.div-imagem-detalhe {
    text-align: center;
    width: 100%;
    padding-block-end: 10px;
    padding-block-start: 10px;
}

/* .div-imagem-detalhe:hover {
    height: 0px;
    visibility: hidden;
} */

.div-back-stars {
    width: 100%;
    padding-block-end: 10px;
    border: solid 1px #805ec0;
}

/* 
.div-back-stars:hover {
    height: 0px;
    visibility: hidden;
} */

.custom .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}

.mouse-pass {
    height: 0px;
}

.item-home-empresa-vencendo {
    font-weight: normal;
    color: #000000;
    border-radius: 8px;
    background: #fce903;
    height: 25px;
}

.item-home-empresa-pendente {
    font-weight: normal;
    border-radius: 8px;
    background: #0080c0;
    height: 25px;
}

.item-home-empresa-bloqueada {
    font-weight: normal;
    border-radius: 8px;
    background: #d6050d;
    height: 25px;
}

.item-home-empresa-vencendo:hover {
    height: 70px;
    border-radius: 8px;
    background: #fce903;
    height: 50px;
}

.item-home-empresa-pendente:hover {
    height: 70px;
    border-radius: 8px;
    background: #0080c0;
    height: 50px;
}

.item-home-empresa-bloqueada:hover {
    height: 70px;
    border-radius: 8px;
    background: #d6050d;
    height: 50px;
}