<div style="width: 100%;height: 100px;text-align: left; padding-inline-start: 18%">

  <div *ngFor="let select of alternativas[recebeId]">

    <label class="col-md-6 col-md-7">

      <div (click)="setValue(select)" class="iradio_flat-red checked"
        [class.checked]="select === value" aria-checked="false" aria-disabled="false"
        style="position: relative;">

        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 
        100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
        </ins>
      </div>
      {{select}}
    </label>
  </div>
</div>