.user-menu>span {
  /**/
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #fff;
}

.user-menu a {
  color: #fff;
  cursor: pointer
}

@media (max-width: 991px) {
  .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
}

.option-header {
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 150px;
  background-color: #805ec0;
  text-align: center;
  padding-block-start: 4px;
  border-width: 1px;
  border-color: #fff;
  border-style: solid;
  color: #fff;
}

.div-option-header {
  padding-block-start: 8px;
  cursor: pointer;
}

.place-info-box-custon {
  color: #fff;
  display: block;
  background: #805ec0;
  width: 250px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 15px;
  border-color: #805ec0;
  border-width: 0.5px;
  border-style: dashed;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-block-start: 3px;
  cursor: pointer;
  border-radius: 20px;
}

.ng-trigger .ng-trigger-animation .ng-tns-c2-1 .ui-overlaypanel .ui-widget .ui-widget-content .ui-corner-all .ui-shadow .ng-star-inserted {
  background-color: #805ec0;
}

body .ui-overlaypanel {
  width: 15%;
  background-image: url("/assets/img/805ec0.png");
}