<header class="main-header" style="height: 50px;">
  <nav class="navbar navbar-static-top" style="background-color: darkolivegreen; position: fixed;width: 100%;">
    <div class="container" style="text-align: center;">
      <div class="navbar-header">
        <a [routerLink]="['/aviso']" class="navbar-brand"><b>Floresta Urbana</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <mt-user-detail></mt-user-detail>

    </div>
  </nav>
</header>