<div>

  <p style="padding-block-start: 20px;padding-block-end: 20px;"> Essas são as árvores disponíveis!</p>

  <div class="col-md-12 col-xs-12 pull-right" *ngFor="let imagem of images">
    <img [src]="imagem" style="width:100%; height:500px; padding-block-end: 10px">
  </div>
</div>