<section class="content-header">
</section>

<section class="content">

    <div class="jumbotron welcome-jumbotron">

        <h1> Veja qual planta combina com você!</h1>

    </div>

    <button class="btn btn-lg" style="background-color: #805ec0; color: #ffffff" [routerLink]="['/home']"> Continuar
    </button>

</section>