<span class="example-trigger">
    <i class="fa fa-calendar icon-panel-control" [owlDateTimeTrigger]="dt"></i>
</span>

<input placeholder="Validade:" [owlDateTime]="dt" [formControl]="dateTime" class="input-data">

<owl-date-time [pickerType]="'calendar'" [pickerMode]="'dialog'" #dt="owlDateTime"></owl-date-time>