<div class="wrapper">

  <mt-header></mt-header>

  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <mt-snackbar></mt-snackbar>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.1
      </div>
      <a href="https://instagram.com/florestaurbanasinop?utm_source=ig_profile_share&igshid=oa1i271797hj">
        <strong>@florestaurbanasinop</strong>
      </a>

    </div>
  </footer>
</div>