<p-dialog [header]="header" [(visible)]="display" [modal]="true" [responsive]="true" [width]="450" [minWidth]="200"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <span>
        <textarea [rows]="rows" [cols]="cols" [(ngModel)]="texto" autoResize="autoResize">
        </textarea>
    </span>
    <p-footer>
        <button class="btn bloquear" (click)="closeDialog()">
            <i class="fa fa-ban"></i>
            Cancelar
        </button>
        <button class="btn liberar" (click)="saveDialog()">
            <i class="fa fa-bolt"></i>
            Salvar
        </button>
    </p-footer>
</p-dialog>