<section class="content login-content" style="margin: 10% auto">
  <div class="login-logo">
    <b>Floresta Urbana Sinop</b> | Quiz
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <p class="login-box-msg">Informe os campos abaixo para iniciar o quiz.</p>

    <form [formGroup]="loginForm">

      <mt-input-container [showTip]=false>
        <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </mt-input-container>
      <mt-input-container [showTip]=false>
        <input type="text" formControlName="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </mt-input-container>

      <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" (click)="login()" [disabled]="loginForm.invalid"
            class="btn cadastrar btn-block btn-flat" style="width: 100%;">Iniciar
          </button>
        </div>
      </div>
    </form>
  </div>
</section>