/* You can add global styles to this file, and also import other style files */

@import "~owl-ng/assets/style/theme.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
.body {
  color: #555;
}

.box-header {
  color: #fff;
  background-color: #805ec0;
  text-align: center;
  padding: 0px;
}

.box-header-review {
  padding: 10px;
  text-align: left;
  color: #ff7700;
  font-size: 25px;
}

.header-color {
  color: #805ec0
}

.al-middle {
  color: #ec1c00;
  vertical-align: 0;
}

/*
 * Component: Place Info Box
 * -------------------
 */

.place-info-box {
  color: #555;
  display: block;
  min-height: 120px;
  background: #fff;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 15px;
  border-color: #ff9700;
  border-width: 0.5px;
  border-style: dashed;
}

.place-info-box small {
  font-size: 14px;
}

.place-info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.place-info-box .progress, .place-info-box .progress .progress-bar {
  border-radius: 0;
}

.place-info .progress .progress-bar {
  background: #fff;
}

.place-info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  /*height: 120px;*/
  width: 120px;
  text-align: center;
  background: #fff;
}

.place-info-box-icon>img {
  max-width: 97%;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.place-info-box-content {
  padding: 5px 10px;
  margin-left: 120px;
}

.place-info-box-detail {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  width: 78%;
  text-align: center;
  width: 100%;
}

.place-info-box-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 80%;
  float: left
}

.place-info-box-text-home {
  display: block;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
}

.place-info-box-star {
  display: block;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  width: 20%;
  float: right;
  height: 115px;
}

.place-info-box-more {
  display: block;
}

.progress-description {
  margin: 0;
}

/* Detail For restaurant */

.box-img-detail {
  width: 180px;
  height: 180px;
}

.box-body dl {
  font-size: 18px;
}

/*
 * Component: Menu Item
 * -------------------
 */

.menu-item-info-box {
  color: #555;
  display: block;
  min-height: 120px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.menu-item-info-box small {
  font-size: 14px;
}

.menu-item-info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.menu-item-info-box .progress, .menu-item-info-box .progress .progress-bar {
  border-radius: 0;
}

.menu-item-info .progress .progress-bar {
  background: #fff;
}

.menu-item-info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  /*height: 120px;*/
  width: 120px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

.menu-item-info-box-icon>img {
  max-width: 100%;
  /*border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}

.menu-item-info-box-price {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
}

.menu-item-info-box-content {
  padding: 5px 10px;
  margin-left: 120px;
}

.menu-item-info-box-content a {
  cursor: pointer;
}

.menu-item-info-box-detail {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
}

.menu-item-info-box-text {
  display: block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 80%;
}

/*
.menu-item-info-box-text {
}
*/

.menu-item-info-box-more {
  display: block;
}

/*Jumbotrons*/

.jumbotron {
  background-color: #fff;
  text-align: center;
}

.jumbotron h2 {
  font-size: 40px;
}

.welcome-jumbotron h1 {
  margin-bottom: 30px;
}

.welcome-jumbotron p {
  margin-bottom: 60px;
  font-size: 30px;
}

/* inputs */

.fancy-radio {
  position: absolute;
  opacity: 0;
}

/*Review*/

.review-score {
  font-size: 20px;
  font-weight: bold;
  padding-block-start: 7px;
}

/*rstaurant detail*/

.detail-footer {
  padding: 0px
}

.detail-footer>a {
  text-align: center;
  font-size: 16px;
  color: #555;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.detail-footer>a:hover {
  outline: none;
  text-decoration: none;
}

.detail-active {
  /* Safari 4.0 - 8.0*/
  -webkit-animation-name: example;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  /* Safari 4.0 - 8.0 */
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 0s;
  border-bottom: 2px solid #ff7700;
}

/* Standard syntax */

@keyframes example {
  0% {
    left: 100px;
    top: 0px;
    opacity: 0;
  }
  25% {
    left: 100px;
    top: 0px;
    opacity: 0;
  }
  50% {
    left: 100px;
    top: 0px;
    opacity: 0;
  }
  75% {
    left: 100px;
    top: 0px;
    opacity: 0;
  }
  100% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

.has-error-block {
  color: #dd4b39;
}

/* EMPRESAS */

.titulo-h1-empresas {
  margin-left: 15px;
  width: 97.5%;
}

/* BARRA PESQUISA */

.search-link {
  cursor: pointer;
  color: #555;
}

.search-link:hover {
  color: #FF7700;
}

.search-bar {
  opacity: 0;
  max-height: 0px;
}

/**
 buttons
*/

.bloquear {
  /* color: #fff;
  background-color: #dd4b39;
  border-color: #ec1c00; */
  display: inline-block;
  padding: 6px 12px;
  color: #d6050d;
  width: 100px;
}

.cadastrar {
  /* color: #fff; */
  /* background-color: #805ec0; */
  padding: 3px 12px;
  color: #805ec0;
  width: 100px;
}

.liberar {
  /* color: #fff;
  background-color: #FF7700;
  border-color: #FF7700; */
  display: inline-block;
  padding: 6px 12px;
  margin-left: 5px;
  /* color: #ff7700; */
  color: #008000;
  background-color: #f0f0f0;
  width: 100px;
}

.btn-vermelho {
  padding: 6px 12px;
  color: #d6050d;
  width: 100px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.btn-verde {
  padding: 6px 12px;
  color: #008000;
  width: 100px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.btn-amarelo {
  padding: 6px 12px;
  color: #cccc00;
  width: 100px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.btn-azul {
  padding: 6px 12px;
  color: #0080c0;
  width: 100px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

/* option */

.place-info-box-btn {
  font-size: 18px;
  font-weight: bold;
  width: 20%;
  float: right;
  margin-block-start: 20px;
}

.data-empresa-detalhe {
  font-size: 25px;
  font-weight: bold;
}

.input-data {
  text-align: right;
}

.example-trigger {
  display: inline-block;
}

.example-container {
  padding: 1rem;
}

.example-wrapper {
  margin-bottom: 3rem;
}

.example-input-wrapper {
  display: block;
  width: 200px;
  margin-bottom: 1.5rem;
}

.example-btn {
  padding: 1em;
  width: 100%;
  max-width: 8em;
  height: 3em;
  background: #ffffff;
  color: #3fb553;
  border: 1px solid #3fb549;
  margin: .1em;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  display: inline-block;
  outline: none;
  border-radius: 3px;
}

.btnPaginatorModulos {
  padding: 0px;
  background-color: #805ec0;
  width: 50px;
  height: 41px;
}

.right-btn {
  position: absolute;
  right: 0;
}

.dummy-dialog {
  border-radius: 5px;
}

.custom-dialog-class {
  background-color: rgb(231, 8, 8);
  border-radius: 5px;
}

.dummy-btn {
  height: 2em;
  padding: .5em;
  width: 5em;
}

.calendar {
  font-size: 100%;
}

.owl-dt-container {
  display: block;
  font-size: 2rem;
  background: #fff;
  pointer-events: auto;
  z-index: 1000;
}

.owl-dialog-container {
  position: relative;
  pointer-events: auto;
  box-sizing: border-box;
  display: block;
  padding: 2.4em;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  border-radius: 2px;
  overflow: auto;
  background: #805ec0;
  color: rgba(0, 0, 0, .87);
  width: 100%;
  height: 100%;
  outline: 0;
}

.icon-panel-control {
  color: #805ec0;
  cursor: pointer;
  padding: 2px;
}

.icon-panel-control-remove {
  color: #805ec0;
  cursor: pointer;
  padding: 2px;
  margin-left: 7px;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  text-align: right;
  border-radius: 2px;
}

.font-805 {
  color: #805ec0;
  font-size: 18px;
  height: 9px;
}

.box-header-historico {
  color: #fff;
  background-color: #805ec0;
  text-align: center;
  display: block;
  padding: 10px;
  position: relative;
}

.btn-excluir-detail-empresa {
  color: #ff7700;
  height: 25px;
  padding-top: 2px;
  background-color: #ffffff;
  width: 100px;
}

.ui-button-warningty {
  background-color: #ff7700;
}

/* START PAGINATOR  */

.ui-paginator {
  background-color: #ff7700;
  color: #fff;
  background-image: url("/assets/img/805ec0.png");
  height: 43px;
  border-radius: 10px;
  /* padding-block-start: 9px; */
}

body .ui-paginator {
  background-color: #fff;
  color: #fff;
  background-image: url("/assets/img/805ec0.png");
}

.ui-paginator-icon {
  padding-block-start: 5px;
  color: #fff;
}

/*dropdow - qtd por pag*/

.ui-widget {
  background-color: #fff;
  padding-block-start: 5px;
}

.ui-widget-header {
  padding-block-start: 6px;
  background-color: #805ec0;
}

.ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
  padding-block-start: 5px;
}

.ui-unselectable-text {
  background-color: #fff;
  padding-block-start: 5px;
}

.ui-helper-clearfix {
  background-color: #fff;
  padding-block-start: 5px;
}

/* .ng-star-inserted {
  background-color: #000000;
} */

.ui-paginator-first {
  background-color: #000000;
  color: #000;
}

.ui-paginator-element {
  background-color: #000000;
  padding-block-start: 5px;
  color: #000;
}

.ui-state-default {
  background-color: #808ec0;
  padding-block-start: 5px;
  color: #000;
}

.ui-corner-all {
  /* background-color: #000000; */
  color: #000;
  padding-block-start: 5px;
}

.ui-state-disabled {
  color: #808ec0;
  background-color: #808ec0;
  padding-block-start: 5px;
}

.ui-state-active {
  background-color: #808ec0;
  padding-block-start: 55px;
}

.body .ui-paginator .ui-paginator-pages .ui-paginator-page .ui-state-active {
  background-color: #805ec0;
  padding-block-start: 5px;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  background-color: #805ec0;
  padding-block-start: 5px;
}

.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
  background-color: #805ec0;
  padding-block-start: 5px;
  height: 39px;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
  height: 39px;
}

body .ui-paginator .ui-dropdown {
  text-align: right;
  padding-block-start: 5px;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  padding-block-start: 5px;
  height: 195%;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-default {
  padding-block-start: 5px;
  height: 39px;
}

.ui-paginator-page {
  padding-block-start: 5px;
  height: 41px;
}

.ui-paginator-pages {
  padding-block-start: 5px;
  height: 41px;
}

.ui-paginator {
  padding-block-start: 5px;
  height: 41px;
}

body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover, body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
  height: 39px;
}

/* ^ END PAGINATOR ^ */

.input-data {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #805ec0;
  width: 80px;
  text-align: left;
  font-weight: bold;
}

.header-pendencia-empresa {
  /* width: 49.8%; */
  background-color: #808080;
  border-radius: 20px 20px 0 0;
}

.header-pendencia-mensagem {
  /* width: 49.8%; */
  background-color: #805ec0;
  border-radius: 20px 0px;
}

.linha-espaco {
  background-color: #fff;
  height: 1px;
}

.header-text-modulos {
  margin-left: 15px;
  margin-right: 17px;
  text-align: initial;
}