<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">

    <h1> {{titulo}} </h1>

    <mt-alternativas [recebeId]="alternativa" [value]=nova (resposta)="reciverFeedback($event)"></mt-alternativas>

    <div style="height: 20px;"></div>
    <div class="pull-left;" style="width:100%">

      <div style="height: 4px;"></div>
    </div>

    <div style="height: 15px;"></div>

    <div style="padding-block-start:10%">

      <button class="btn btn-lg" (click)="anterior()"
        style="width: 120px; border-radius: 25px 0px 0px 25px; background-color: #5ec07f; color: #ffffff">
        Anterior
      </button>

      <button class="btn btn-lg" (click)="proxima()"
        style="width: 120px; border-radius: 0px 25px 25px 0px; background-color: #805ec0; color: #ffffff">
        Confirmar
      </button>

    </div>
  </div>

</section>